.accept {
    color: #FFF;
    background: #44CC44;
    padding: 2px 2px;
    margin: 3px;
    border-radius: 5px;
}

.accept:hover {
    background: #6FE76F;
}

.deny {
    color: #FFF;
    background: tomato;
    margin: 3px;
    margin: 3px;
    padding: 2px 2px;
    border-radius: 5px;
}

.deny:hover {
    background: rgb(255, 147, 128);
    box-shadow: 0 4px 0 0 #EF8282;
}